<div class="bg">
    <div class="container" style="margin-top: 80px; color: #fff;">
        <div class="row">
          <h1 class="text-center gaegu"><i class="fas fa-money-bill-wave"></i> Track Your $pending <i class="fas fa-money-bill-wave"></i></h1>
        </div>

      <div class="row">
        <table class="table table-bordered table-responsive table-striped gaegu">
          <!--Top row,4 columns: Amount, Item, Date, delete-->
          <thead>
            <tr>
              <th>Amount Spent $</th>
              <th>Spent On...?</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <!--table body-->
              <tbody>
                <tr *ngFor="let item of items">
                  <td>{{ item.amount }}</td><!--money spent-->
                  <td>{{ item.name }}</td><!--spent on?-->
                  <td>{{ item.date }}</td><!--date-->

                   <!--Delete btn-->
                  <td><a class="btn btn-danger" (click)="deleteItem(item)"><i class="fas fa-minus"></i></a></td>
                </tr>
              </tbody>
        </table>
      </div>

      <!--Show Total-->
      <div class="row">
        <h2>Total spent: $ {{ showTotal() }}</h2>
      </div>

      <!--Form-->
        <!--too tired to add form validation  (╯°□°）╯︵ ┻━┻-->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!--form-->
          <form action="POST" (ngSubmit)="addItem()" class="maven-pro">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount spent.." [(ngModel)]="newItem.amount" autofocus required ng-minlength="1">
            </div>
            <div class="form-group">
              <label for="description">What did you spend on?</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Description" [(ngModel)]="newItem.name">
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" id="date" name="date" placeholder="Date" [(ngModel)]="newItem.date">
            </div>
            <button class="btn btn-warning"><i class="fas fa-plus"></i>Add</button>
          </form>
        </div>
      </div>

      </div>
</div>

