@import url('https://fonts.googleapis.com/css?family=Gaegu|Maven+Pro:700');

table {
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: #fff;
  border: 2px solid black;
}

.white-bg {
  background-color: #fff;
}


.bg {
  background-color: rgba(0,0,0,0.5);
}

.btn-warning {
  margin-bottom: 20px;
}

.maven-pro {
  font-family: 'Maven Pro', sans-serif;
}

.gaegu {
  font-family: 'Gaegu', cursive;
}

form {
  font-size: 24px;
  border: 2px solid white;
  border-radius: 4px;
  padding: 2px;
  margin: 5px;
}
