
<div class="container-fluid" style="margin-top: 80px; color: #fff;">
    <div class="container txt-bg">

      <div class="row">
        <h1 class="text-center hi">{{ hi }}</h1>
      </div>

      <div class="row">
        <h2 class="text-center intro">{{ intro }}</h2>
      </div>

      <div class="row">
          <h1 class="text-center">This is a simple expense tracker app. FYI:</h1>
          <ul>
            <li>You can add new row by clicking 'Add' or pressing 'Enter'. No data storage, sadly. Everything you entered will be gone after refreshing.</li>
            <li>No form validation has been added, so...you can add empty rows or non-numbers in 'amount' column.</li>
            <li>I couldn't stop after using 4 things I learned... </li>
          </ul>
      </div>


    </div>
</div>
